body {
    background-color: white;
  }

h4 {
color: #fff;
font-size: 18px;
}

p {
    color : #fff;
    text-align : center;
  }


a {
    color : #fff;
    text-align : center;
  }

#content {
color: #000;
font-size: 12px;
font-family: Sans;
text-align: left;
width: 790px;
padding: 5px;
background: url("table.png");

         -webkit-border-top-left-radius:10px;
         -webkit-border-top-right-radius:10px;
         -webkit-border-bottom-left-radius:0px;
         -webkit-border-bottom-right-radius:0px;

         -khtml-border-radius-topleft:10px;
         -khtml-border-radius-topright:10px;
         -khtml-border-radius-bottomleft:0px;
         -khtml-border-radius-bottomright:0px;

         -moz-border-radius-topleft:10px;
         -moz-border-radius-topright:10px;
         -moz-border-radius-bottomleft:0px;
         -moz-border-radius-bottomright:0px;
}

#top {
color: #fff;
font-size: 15px;
font-family: Sans;
text-align: center;
background: black url(testcopy.png) center center repeat-x;
width: 800;
height: 30;

         -webkit-border-top-left-radius:10px;
         -webkit-border-top-right-radius:10px;
         -webkit-border-bottom-left-radius:0px;
         -webkit-border-bottom-right-radius:0px;

         -khtml-border-radius-topleft:10px;
         -khtml-border-radius-topright:10px;
         -khtml-border-radius-bottomleft:0px;
         -khtml-border-radius-bottomright:0px;

         -moz-border-radius-topleft:10px;
         -moz-border-radius-topright:10px;
         -moz-border-radius-bottomleft:0px;
         -moz-border-radius-bottomright:0px;
}

#bottom {
color: #fff;
font-size: 15px;
font-family: Sans;
text-align: center;
background: black url(testcopy.png) center center repeat-x;
width: 800;
height: 40;
         -webkit-border-top-left-radius:0px;
         -webkit-border-top-right-radius:0px;
         -webkit-border-bottom-left-radius:10px;
         -webkit-border-bottom-right-radius:10px;

         -khtml-border-radius-topleft:0px;
         -khtml-border-radius-topright:0px;
         -khtml-border-radius-bottomleft:10px;
         -khtml-border-radius-bottomright:10px;

         -moz-border-radius-topleft:0px;
         -moz-border-radius-topright:0px;
         -moz-border-radius-bottomleft:10px;
         -moz-border-radius-bottomright:10px;
}

img {
border: none;
}

#menu {
	width: 800;
	height: 40;
	font-size: 30px;
	font-family: Sans;
	text-align: center;
	background: black url(testcopy.png) center center repeat-x;
	float: left;

         -webkit-border-top-left-radius:0px;
         -webkit-border-top-right-radius:0px;
         -webkit-border-bottom-left-radius:10px;
         -webkit-border-bottom-right-radius:10px;

         -khtml-border-radius-topleft:0px;
         -khtml-border-radius-topright:0px;
         -khtml-border-radius-bottomleft:10px;
         -khtml-border-radius-bottomright:10px;

         -moz-border-radius-topleft:0px;
         -moz-border-radius-topright:0px;
         -moz-border-radius-bottomleft:10px;
         -moz-border-radius-bottomright:10px;
}
